
@mixin ring($size: 50px, $color: gold) {
  &::before {
    content: '';
    width: $size;
    display: inline-flex;
    align-items: center;
    height: $size;
    border-radius: 50%;
    border: $size / 12 solid $color;
    margin: 0 15px;
    box-shadow: 0 1px $size / 20 $color,
    inset 0 1px $size / 20 $color;
  }
}

@font-face {
  font-family: 'font-aniron-title';
  src: url('../public/font/Aniron-7BaP.ttf');
}

@font-face {
  font-family: 'font-surround-title';
  src: url('../public/font/tengwar_annatar/tngan.ttf');
  /*src: url('../font/tengwar_annatar/tnganb.ttf');*/
  /*src: url('../font/tengwar_annatar/tnganbi.ttf');*/
  /*src: url('../font/tengwar_annatar/tngani.ttf');*/
}

@font-face {
  font-family: 'font-main';
  src: url('../public/font/PartyBusiness-4B0K.ttf');
}

:root {
  /* police */
  --font-aniron-title: 'font-aniron-title';
  --font-surround-title: 'font-surround-title';
  --font-main: 'font-main';

  /* color */
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-secondary: #ff5f01;
  --color-grey: #c8c8c8db;

  /* font-size */
  --size-main: 16px;
}

/* contante class */
.bg-orange {
  background: var(--color-secondary);
}

.text-orange {
  color: var(--color-secondary);
}

.text-snow {
  color: var(--color-light);
}
.container-xl {
  max-width: 1300px;
}
.my-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.mx-6 {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* general */

body, html {
  font-family: var(--font-aniron-title);
  color: var(--color-dark);
  font-size: var(--size-main);
  background-image: url('../public/images/bg_light.png');
  scroll-behavior: smooth;
}
.pipe {
  font-family: arial, sans-serif;
  color: var(--color-light);
  padding: .5rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--color-light);
}

.navbar-dark .navbar-nav .nav-link:hover {
  border-bottom: 2px solid var(--color-light);
  color: var(--color-light)
}

.navbar a, .navbar a:hover {
  text-decoration: none;
  color: var(--color-light);
}

.title::after, .title::before {
  content: '';
  position: relative;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid var(--color-secondary);
  margin: 0 15px;
}
.the-one-ring {
  margin: 150px;
  @include ring($size: 200px, $color: #498e3c);
}

@mixin generateRing($size, $color) {
  @for $i from 1 through 5 {
    .ring-#{$i} {
      width: $size * ($i / 1.75);
      height: $size * ($i / 1.75);
      border-radius: 50%;
      border: $i * 1.5px solid $color;
      margin-left: -$i * 6px;
      box-shadow:
              0 0 $i * 2px $color,
              inset 0 0 $i * 2px $color;
    }
  }
}

@include generateRing($size: 50px, $color: #FF5F01);

.content-ring {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

